<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Akhilendu Chaturvedi.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/akhilenduchaturvedi16/?locale=en_US" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/akhil16" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:akhilenduchaturvedi16@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
