<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">About me.</h2>
                <p class="default-p">
                    My name is Akhilendu Chaturvedi, and I enjoy <span class="default-highlight">creating software</span>.
                </p>
                <p>
                    <!-- <img src="../../assets/bc01_a.jpg" alt="Barbara at a restaurant in São Paulo" class="about-picture"> -->
                </p>
                <p class="default-p">
                    I am a Software Developer from India. Hindi is my native language, and I am fluent in English. 
                </p>
                
                <p class="default-p">
                    I've had the chance to work with a range of <span class="default-highlight">technologies</span> and developed valuable 
                    <span class="default-highlight">soft skills</span>, including leading transformative changes to improve 
                    team dynamics and organizational culture within a tech company. My technical knowledge has expanded 
                    through hands-on collaboration with developers and rigorous study of documentation. Over time, I've gained experience 
                    with programming logic, refined software craftsmanship, contributed to the development of 
                    <span class="default-highlight">websites</span> and built <span class="default-highlight">REST APIs</span>, 
                    collaborated on building visual dashboards.
                </p>
                <p class="default-p">
                    I've worked with teams to adopt <span class="default-highlight">Monorepo architectures</span> using tools like
                    <span class="default-highlight">Nx</span>, <span class="default-highlight">lerna</span>.
                    I've also been part of efforts to develop and maintain asynchronous systems and optimizing CI/CD pipelines mainly using 
                    <span class="default-highlight">github DevOps</span> and YAML configurations.
                </p>
                <p class="default-p">
                    I do think <span class="default-highlight">DevOps</span> plays such an important role in enhancing 
                    <span class="default-highlight">collaboration</span> between <span class="default-highlight">development</span> 
                    and <span class="default-highlight">operations</span> teams because it <span class="default-highlight">streamlines</span> 
                    processes and improves the overall <span class="default-highlight">efficiency and quality of software delivery</span>. 
                    The optimization of workflows and reduction of system delays are significant factors for the success of project outcomes.
                </p>
                <p class="default-p">
                    I have been involved in creating and managing <span class="default-highlight">MongoDB</span> 
                    databases, working on stream processing, and data pipelines. My work also involved handling secure authentication 
                    with <span class="default-highlight">OAuth2.0</span> and <span class="default-highlight">JWT</span>, 
                    as well as conducting User Acceptance Testing (UATs), performing manual testing, and writing user manual guides with  
                    <span class="default-highlight">Jest</span> and assisted in monitoring applications using 
                    <span class="default-highlight">NewRelic</span>
                    and centralized logging systems.
                </p>
            </div>
            <div class="content">
                <div class="content-left">
                    <h2 class="default-topic">Reach out.</h2>
                    <p class="default-p">
                        Follow me on social media, check out my GitHub account for projects, or <span class="default-highlight">reach out to arrange a meeting</span>.
                        I would be happy to discuss how my <span class="default-highlight">problem-solving skills</span> can help address the challenges you are facing.
                    </p>
                    <button>
                        <a routerLink="/contact" class="a-green">
                            > Contact me
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
