<div class="accordion-left">

  <accordion [isAnimated]="true" >

    <accordion-group
    [isOpen]="true" 
    heading="Languages." 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
      <p>Native <strong><span class="default-highlight">Hindi</span></strong></p>
    </div>
    </accordion-group>

    <accordion-group
    [isOpen]="true" 
    heading="University." 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>2018 - BUIT - <strong><span class="default-highlight">Computer Science</span></strong> - Bachelor's Degree</p>
      <ul>
        <li>
          Final Project | TaskDesk  - help portal quest board
        </li>
      </ul>
      
    </div>    
  </accordion-group>

    <accordion-group
    [isOpen]="true" 
    heading="Technical."
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Server-side Development with NodeJS, Express
        and MongoDB
         - <strong><span class="default-highlight">Fullstack Development with MEAN</span></strong> - JUN/2020</p>
      <ul>
        <li>
          A software development course focused on Fullstack applications. Technologies include 
           Angular, Typescript, Javascript, HTML, CSS, Docker, Kubernetes, Node, Mongodb, Express, CI/CD and more.
           <a href="https://www.coursera.org/account/accomplishments/certificate/ME3L7YH965AW" target="_blank">Certificate</a>
        </li>
      </ul>
     
    </div>
    </accordion-group>
    
    <accordion-group
    [isOpen]="true" 
    heading="Techs I use."
    panelClass="customClass"
    class="accordion-title">
      <div class="tech-board">
         
          <div class="tech-cell">
              <i class="devicon-postgresql-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-sqlite-plain-wordmark"></i>
          </div>
         
          <div class="tech-cell">
              <i class="devicon-angular-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-typescript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-javascript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-html5-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-css3-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-bootstrap-plain"></i>
          </div>
          
          <div class="tech-cell">
              <i class="devicon-playwright-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-plotly-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-intellij-plain"></i>
          </div>
          
          <div class="tech-cell">
              <i class="devicon-vscode-plain"></i>
          </div>
          
          <div class="tech-cell">
              <i class="devicon-postman-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-swagger-plain"></i>
          </div>
          
          <div class="tech-cell">
              <i class="devicon-npm-original-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-docker-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-git-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-github-original"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-jira-plain-wordmark"></i>
          </div>
      </div>
    </accordion-group>
  
  </accordion>
  
</div>